.big-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fuels-title {
  font-size: 29px;
  margin: 40px 0 40px 0;
}

.fuel-card {
  border: black 4px solid;
  border-radius: 15px;
  aspect-ratio: 1.9;
}

.li {
  margin: 10px 0 10px 25px;
}
