.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(43, 43, 43);
}

.nav-logo {
  width: 120px;
}

.links-cont a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  padding: 0 10px 0 10px;
}
