.App {
  text-align: center;
}

.content-inventario {
  display: flex;
  justify-content: center;
  gap: 20%;
}

.envasadora {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-lista {
  display: flex;
  align-items: center;
}

.info-lista-dato {
  margin-left: 12px;
}

.span-alerta,
.status {
  margin-left: 10px;
}
